/*通用设置*/
*{
	margin: 0 auto;
	padding: 0;
}

body{
	 font-size:14px;
	 line-height: 22px;
	 background-color: #fcfcdd
	}
a{
	
	text-decoration:none;
}
li{
	list-style: none;
}
.clear{
	clear: both;
}
.header #logo{
	width: 1080px;
	height:50px;
}
.header #logo #pic_logo{
	float:left;
	width:213px;
	height: 49px;
	margin: 3px;
	/*margin: 6px auto;*/
}
.header #search {
	float: left;
	margin-left:640px;
	margin-top: -45px;

}
.header #search input{
	outline: none;
	width:284px;
	height: 32px;
	border-radius:20px; /*这句就是重点，让边框变为圆角*/
	border: 1px solid #CCC; 
}
.header #search img{
	display: inline-block;
	margin-left: -30px;
	 width: 15px;
    height:15px;
    cursor: pointer;

}

.header #logo #message{
	float: left;
	width: 24px;
	height: 24px;
	margin-left:935px;
	margin-top: -42px;
}
.header #logo #person_info{
	float: left;
	margin-left: 973px;
	margin-top: -40px;
	width: 300px;
}
.header #logo #person_info img{
	width: 24px;
	height: 24px;
}
.header #logo #person_info #name{
	display: inline-block;
    margin-left: 5px;
	position: absolute;
	top: 15px;
}
.header #nav{
background-color: #ffc300;
height: 45px;
width: 100%;
}
.header #nav ul{
 display:block;
 width: 1080px;
}
.header #nav ul li  a{
	text-decoration:none;
	display: inline-block;
	width: 80px;
	height: 45px;
	text-align: center;
	line-height: 45px;
    vertical-align: middle;
    color:#222;
}

.header #nav ul li {
	float: left;
    font: 600 14px '微软雅黑';
}
.header #nav a:hover{
	background-color:#fc9700;
}
.footer{
	width:100%;
	height: 84px;
	background-color: #ffa400;

}
.footer #footer_text{
	width: 100%;
	display: inline-block;
	 font:600 15px '微软雅黑';
    margin-top: 25px;
     text-align: center;
  
}
.footer p{
	 color:#fff;
	
}
.footer a{
	 color:#fff;
}
