.conter {
	height: 515px;
	width: 1080px;
	margin: 20px auto;
	padding-top: 110px;
}

.conter>p {
	margin-bottom: 80px;
	height: 150px;
	font-size: 22px;
	margin-left: 150px;
}

.button {
	width: 1080px;
	height: 150px;
	margin-left: 140px;
}

#get1 {
	height: 60px;
	width: 250px;
	float: left;
	background-color: #fc7a00;
	margin-left: 40px;
	margin-right: 85px;
	margin-top: 25px;
	font-size: 20px;
	border-radius: 3%;
	box-shadow: 1px 1px 1px 1px #aaa;
	text-align: center;
	line-height: 60px;
	color: #fcfcdd;
}

#get2 {
	height: 60px;
	width: 250px;
	float: left;
	background-color: #fc7a00;
	margin-left: 85px;
	margin-top: 25px;
	font-size: 20px;
	border-radius: 3%;
	box-shadow: 1px 1px 1px 1px #aaa;
	text-align: center;
	line-height: 60px;
	color: #fcfcdd;
}

#get1:hover, #get2:hover {
	background-color: rgba(252, 122, 0, .8);
}

.conter>.button>a>#get1>img {
	height: 30px;
	width: 30px;
	position: absolute;
	margin-top: 13px;
}