* {
	margin: 0 auto;
	padding: 0;
}

body {
	width: 1080px;
	height: auto;
	font-size: 22px;
	line-height: 22px;
	background-color: #fcfcdd
}
a {
	text-decoration: none;
	cursor: pointer;
	color: #fc9700;
}
a:hover {
	color: #f00;
}
.center {
	width: 1080px;
	height: 700px;
	margin: 0 auto;
	text-align: center;
}

#jsGrid {
	clear: both;
	width: 1080px;
	height: auto;
	text-align: center;
	margin: 0 auto;
	margin-top: 10px;
}

.center_submit {
	width:1080px;
	margin: 0 auto;
	padding-top: 0px;
	position: absolute;
	margin-top: 645px;
}

.button {
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	background-color: #fc9700;
	border: 1px solid #fc9700;
	color: #fff;
	padding: 8px 18px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 8px;
}

.button:hover {
	background-color: #fff;
	color: #fc9700;
	border: 1px solid #fc9700;	
	cursor: pointer;
}
.center_text{
	font-size: 20px;
	color: #fc9700;
	margin-top:10px;
}