html, body {
	background-color: #fcfcdd;
	width: auto;
	height: 100%;
	margin: 0 auto;
}

* {
	margin: 0;
	padding: 0;
}

.center {
	width: 1080px;
	height: 100%;
	margin: 0 auto;
}

.center_img {
	width: 1080px;
	height: 200px;
	margin: 0 auto;
}

.center_img img {
	margin-top: 50%;
	margin-left: 40%;
	width: 50px;
	height: auto;
	text-align: center;
}

.center_text {
	width: 1080px;
	height: 400px;
	margin-top: 20%;
	margin-left: 20%;
	font-family: "FZShuTi", 方正舒体;
}

.center_p1 {
	color: #383838;
	font-size: 34px;
	padding-top: 20px;
	text-align: center;
}